.navbar-deco {
  font-weight: lighter;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.el-menu-navbar {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.el-menu-navbar::-webkit-scrollbar {
  display: none;
}

.el-menu-item {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.logout-button {
  color: red;
}

a {
  color: inherit;
  cursor: auto;
  text-decoration: none;
}

.logo {
  height: 100%;
  margin-left: 10px;
}
