.pageNavigation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageNavigation button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: #333;
}
